Repository foundy/git-test-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, app-1, app-2, common

.github/labeler.yml:

documentation:
  - '**/*.md'
app-1:
  - dirs/apps/app1/**/*
app-2:
  - dirs/apps/app2/**/*
common:
  - any: ['dirs/**/*', '!dirs/apps/**/*']

app1 update
  dirs/apps/app1/index.js
Labels: app-1

add ci.yml
  .github/workflows/ci.yml
Labels: none

update ci
  .github/workflows/ci.yml
Labels: none

pr teset
  README.md
Labels: documentation

update ci
  .github/workflows/ci.yml
Labels: none

update ci2
  .github/workflows/ci.yml
Labels: none

ci update
  .github/workflows/ci.yml
Labels: none

pr teset
  README.md
Labels: documentation

update ci 3
  .github/workflows/ci.yml
Labels: none

update ci 4
  .github/workflows/ci.yml
Labels: none

update ci 5
  .github/workflows/ci.yml
Labels: none

update ci 6
  .github/workflows/ci.yml
Labels: none

update ci 7
  .github/workflows/ci.yml
Labels: none

update ci 8
  .github/workflows/ci.yml
Labels: none

update ci 9
  .github/workflows/ci.yml
Labels: none

update ci
  .github/workflows/ci.yml
Labels: none

pr teset
  README.md
Labels: documentation

fix ci
  .github/workflows/ci.yml
Labels: none

add workflow for trigger
  .github/workflows/st.yml
Labels: none

fix workflow error
  .github/workflows/st.yml
Labels: none

feat: add workflow run
  .github/workflows/ci.yml
  .github/workflows/workflow-run.yml
Labels: none

Update README.md
  README.md
Labels: documentation

update ci
  .github/workflows/ci.yml
Labels: none

add sync
  .github/workflows/sync-develop.yml
Labels: none

add slack
  .github/workflows/ci.yml
Labels: none

Update README.md
  README.md
Labels: documentation

divide slack
  .github/workflows/ci.yml
  .github/workflows/pr-slack.yml
Labels: none

update pr-slack
  .github/workflows/pr-slack.yml
Labels: none

Update Readme.md
  README.md
Labels: documentation

Update pr-slack
  .github/workflows/pr-slack.yml
Labels: none

Update pr-slack
  .github/workflows/pr-slack.yml
Labels: none

Update Readme.md
  README.md
Labels: documentation

Update pr-slack
  .github/workflows/pr-slack.yml
Labels: none

Update slack
  .github/workflows/ci.yml
  .github/workflows/pr-slack.yml
Labels: none

Update slack
  .github/workflows/pr-slack.yml
Labels: none

Update Readme.md
  README.md
Labels: documentation

update slack
  .github/workflows/pr-slack.yml
Labels: none

Update README.md
  README.md
Labels: documentation

Update slack
  .github/workflows/pr-slack.yml
Labels: none

Update slack
  .github/workflows/pr-slack.yml
Labels: none
